
<html lang="en" class="no-js">
<head>
  <link rel="shortcut icon" href="../static/image/favicon.ico">
    <link rel="stylesheet" href="../static/css/reset.css" />
	<link rel="stylesheet" href="../static/css/head.css" />
    <link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-4.2.1.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <script href="../static/js/bootstrap.js"></script>
    <title>V 创家</title>


    <link rel="stylesheet" href="https://www.jq22.com/jquery/bootstrap-4.2.1.css">
    <link rel="stylesheet" href="https://www.jq22.com/jquery/font-awesome.4.7.0.css">
    <link href="/static/css/style.default.css" rel="stylesheet"/>
    <style>
      .blockquote {
  padding: 2rem 1.5rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  border-left: 5px solid #7286a0;
  font-weight: 300;
  background: #f5f5f5;
  line-height: 1.8rem;
}
.hero {
  padding: 10rem 0;
  background: url("../static/image/hero-bg.svg") no-repeat;
  background-size: 1900px;
  background-position: 0 -670px;
}
h4 {
  font-family: Lucida Grande;
  font-size: 14px;
  line-height: 27px;
  font-weight: 400;
  color: #7286a0; }

@font-face {
  font-family: 'Title';
  src: url('../static/font/title.ttf');
}

    </style>





</head>



<body style="background-color:white">
<a href="/">
    <img src="../static/image/logo.png" style="position:fixed;width:100px;margin:10px;">
</a>

    <section class="hero">
      <div class="container">
        <div class="text-center" style="font-family:Title;font-size:6rem;">V 创家</div>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>

          <h3 id="pro" style="font-family:SimHei;padding:10px;margin:30px 20px;border-left:6px solid #787878;background-color:#fff;">项目概述</h3>
          <div style="margin:30px;padding:25px 30px;border:1.5px solid #ccc;border-radius:16px;box-shadow: 2px 2px 2px 2px #DDDDDD;">
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              V创家项目以APP应用开发为基本形式，其主要特点立足于“3D空间+ VR互动”，它以提供室内家装体验为核心，
              探索职业可能为辅，为对家装有需求的广大群众提供自主家装设计的全新体验和机会。
              同时交互社区模块为论坛用户提供了自主参与分享、体验的机会，让人们了解家装设计专业的技能需求、能力需求、就业形势等相关信息的同时，
              为社会进行未来的设计师人才培养，致力于打造一个以共享、自由为圆点，3D空间+VR互动为坐标，全民参与设计为亮点的家装交互空间。
          </div>
          <h3 id="org" style="font-family:SimHei;padding:10px;margin:30px 20px;border-left:6px solid #787878;background-color:#fff;">组织架构</h3>
          <center><img src="../static/image/org.png" style="width:65%;height:auto;"></center>
          <h3 id="fan" style="font-family:SimHei;padding:10px;margin:30px 20px;border-left:6px solid #787878;background-color:#fff;">财务预算和分析</h3>
          <center><img src="../static/image/cai_1.png" style="width:65%;height:auto;margin-bottom:20px;"></center>
          <center><img src="../static/image/cai_2.png" style="width:65%;height:auto;margin-bottom:20px;"></center>
          <center><img src="../static/image/cai_3.png" style="width:65%;height:auto;"></center>
          <h3 id="team" style="font-family:SimHei;padding:10px;margin:30px 20px;border-left:6px solid #787878;background-color:#fff;">团队介绍</h3>
          <div style="margin:30px;padding:25px 30px;border:1.5px solid #ccc;border-radius:16px;box-shadow: 2px 2px 2px 2px #DDDDDD;">
            我们的队名是“希黎”，一个超默契团结的队伍，家人般的温暖，超包容允许任何直言不讳花火四射的刺激氛围！有一晚一个奇迹的创新能力和行动力，快速扒出所有边角信息的检索能力，说干就干的活力。团队有省奖、国奖获奖选手，Web、PS高手，同时多年公文写作和国赛淬炼者浓度极高，各位都是长得好并且说话又好听的卷中卷。
            <br>负责人：
            <br>许哲逸，北京语言大学21级金融一班学生，曾任21级金融1班班长，校学生代表，曾带队获得第八届“东方财富杯”全国大学生金融挑战赛省级二等奖，参加过“大创”、“互联网+”“小挑”、中小微企业调研大赛、LVHM P&C等一系列大赛，目前CAM P1已通过。主要负责产品的内控、绩效和人事管理体系搭建；组织架构搭建；财务分析和投融资分析以及整体项目框架。
            <br>组员：
            <br>余婧思，2018-2022本科 北京语言大学 信息科学学院 计算机科学与技术（语言智能与技术）2022-现在 硕士 北京语言大学 信息科学学院 计算机科学与技术
            <br>研究方向：自然语言处理、智能辅助学习
            <br>研究成果：汉语学习者依存句法树库构建——师佳璐, 罗昕宇, 杨麟儿, 肖丹, 胡正升, 王一君, 袁佳欣, 余婧思, 杨尔弘.中文信息学报, 2022, 36(1): 39-46
            <br>汉语增强依存句法自动转换研究——余婧思, 师佳璐, 杨麟儿, 肖丹, 杨尔弘.第二十一届中国计算语言学大会 (CCL 2022)
            <br>王伊芸，北京语言大学21级会计班在读，商学院团委学生会办公室主任，北语师生会实践部副部长，入党积极分子，多次参加商业比赛、营销大赛、挑战赛、创业大赛等，曾获安永ESG商赛优秀奖，APEX商业大赛参与证书等，目前在学习ACCA课程第六门，主要负责产品的市场分析、竞品分析、营销策略和公司文化模块。
            <br>任卓然，北京语言大学21级金融一班学生。中外学生艺术团主持队队长，主持“英姿飞扬”文艺晚会等多场活动。获2021年商学院新生口语大赛一等奖、第八届东方金融财富杯省级二等奖，参与2022年“营”领未来营销大赛、京彩大创、互联网+等项目，主要负责产品的项目概述、执行总则和UI框架搭建。
          </div>
      </div>
    </section>
    <section>

    </section>
</body>


<br>

</body>
</html>