<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>V 创家</title>
    <link rel="shortcut icon" href="../static/image/favicon.ico">
</head>
<body>

<a href="/">
    <img src="../static/image/logo.png" style="position:fixed;width:100px;margin:10px;">
</a>

<div style="height:100px;"></div>
<div style="width:70%;margin:auto;padding:25px 30px;border:1.5px solid #ccc;border-radius:16px;box-shadow: 2px 2px 2px 2px #DDDDDD;">
通过“组织数字化”和“业务数字化”，最终实现全链路数字化，其本质是“数字技术服务实体经济”。
我们在“V创家”平台实施云布局，对内采取个人数字化、组织数字化、业务数字化，对项目企业进行设计、供应、销售等方面的管理；
对外通过组织在线，设计在线，沟通在线，分享在线，实现家装设计和交流沟通的数字化，以此提高生产力和生产效率，打通全链路数字化入口，实现数字化产能释放。
</div>
<center><img src="../static/image/more.png" style="width:68%;height:auto;margin-top:45px;"></center>
<div style="height:50px;"></div>

</body>
</html>